use flake .
export HOST=0.0.0.0
export DATABASE_URL=postgresql://postgres:postgres@postgres:5432/snitch
#export OPENSEARCH_URL=http://admin:admin@opensearch:9200
export OPENSEARCH_URL=https://pjy3df7b3a:V!jzlp7wwns@search-kento-5xbc5usxorzg5rtxz5pbelhvoe.us-east-1.es.amazonaws.com/
export SLACK_TOKEN=
# openssl rand -hex 32
export AUTH_SECRET=e5c082cf292c49a8605664b3fc3cad4b8b2d7efe0d4635388766c3e63e702bb1
export OIDC_CLIENT_ID=snitch
export OIDC_CLIENT_SECRET=sS6rpgrWGkahEmpUvJhFROCdAu8aglli
export OIDC_ISSUER=https://iam.fmops.ai/realms/kimchi
export OIDC_ISSUER_BACKEND=https://iam.fmops.ai/realms/kimchi
